:root {
  --background-color: #e1ede6;
  --main-color-text: #2c2d35;
  --color: #598d66;
  --main-padding: 15px;
}
body {
  color: var(--main-color-text);
}
img {
  width: auto;
  height: 100%;
}
.container {
  padding-inline: var(--main-padding);
  margin: 0 auto;
}
.btn {
  display: block;
  color: var(--color);
  font-size: 2rem;
  border: 1px solid var(--color);
  cursor: pointer;
  text-align: center;
}
section {
  margin-bottom: 7rem;
}
