.reproductions {
  max-width: calc(1110px + var(--main-padding));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 3rem 0;
  align-items: center;
  grid-template-areas:
    "reproductions__title countriesList"
    "productsList productsList";
  margin-bottom: 7rem;
}

.reproductions__title {
  grid-area: reproductions__title;
  font-size: 4rem;
}

.countriesList {
  grid-area: countriesList;
  justify-self: end;
  display: flex;
  gap: 3.2rem;
}
.countriesList__btn {
  display: block;
  background-color: var(--background-color);
  color: var(--main-color-text);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;
}
.countriesList__btn--active {
  background-color: #376b44;
  color: #f4f6f5;
}

.productsList {
  grid-area: productsList;
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fill, 345px);
  gap: 3rem;
}

/* Card */
.card {
  background-color: var(--background-color);
  padding: 2rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__author {
  font-size: 1.8rem;
  color: #86928b;
}
.card__title {
  font-size: 3rem;
}
.card__properties {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.card__price {
  font-size: 2.4rem;
  color: var(--color);
}
.card__btn {
  padding: 1.5rem 0;
}
